html, body {
max-width: 100%;
overflow-x: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
a{
    text-decoration : none;
    color: black;
}
#header {
    height:100%; 
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;            
}

.jahwasang .chin{
    font-size: 15px;                    
    font-style: italic;
    font-weight: 600;  
    padding:10px; 
    writing-mode: vertical-rl;
    margin-left:auto; 
    margin-right:auto;          
}

.jahwasang .han{
    text-align:center; 
    writing-mode: vertical-rl; 
    margin-left:auto; 
    margin-right:auto; 
    font-weight: 600;
    padding:3px;     
    font-size: 10px;  
    font-family: 'GmarketSansMedium';
}

.line{
    height:50px;            
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#section {
    height:100%;      	
} 
#section img{
    height: 100%;
    width: 100%;
}
       
.top{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    font-family: 'GmarketSansMedium';
}

.top div{
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: 1000;                   
}
.top a{
    display: inline-block;
    padding: 35px;    
    font-size: 18px;  
}

.top .main{
    background-color: black;
}


.middle{    
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
}
.middle div{
    height: 500px;    
}
.bottom img{height: 400px;}

.goods_banner{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
}
.top_goods{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
}
.bottom_goods{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
}


.bottom span{
    font-size: 10px;   
    font-style : italic; 
    color:black; 
    font-weight: 400; 
    margin-left: 20px;     
   
}
#footer{
    height:100px;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;	    
}   

#footer div{padding-bottom: 10px;}  

.foot td{
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    font-weight: 600; 
}
hr{
    width: 1380px;
    border: 0;
    background: #ccc;
    height: 2px;    
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: border;
    font-style: normal;
}
