img {
    height: 100%;
    width: 100%;             
}
a{
    text-decoration : none;
    color: black;
}
.border{
    height: 100%;
    margin: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    border:solid black 2px;
}
#header{
    height:100%; 
    display: grid;
    grid-template-columns: 2fr 8fr 2fr; 
}
.jahwasang .chin{
    font-size: 30px;                    
    font-style: italic;
    font-weight: 600;  
    padding:10px; 
    writing-mode: vertical-rl;
    margin-left:auto; 
    margin-right:auto;          
}

.jahwasang .han{
    text-align:center; 
    writing-mode: vertical-rl; 
    margin-left:auto; 
    margin-right:auto; 
    font-weight: 600;
    padding:3px;     
    font-size: 20px;  
    font-family: 'GmarketSansMedium';
}
.line{
    height:100px;            
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section img{
    height: 100%;
    width: 100%;
}
       
.top{
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    font-family: 'GmarketSansMedium';
}

.top div{
    height: 70%;
    width: 100%;
    text-align: center;        
    font-weight: 1000;                   
}
.top a{
    display: inline-block;
    padding: 25px;       
    font-size: 15px;  
}
.top .main{
    background-color: black;
}

#section span{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}


.goods_banner{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
}

.bottom_goods{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
}
.bottom span{
    font-size: 15px;   
    font-style : italic; 
    color:black; 
    font-weight: 400; 
    margin-left: 20px;   
}


#footer{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;	  
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    font-weight: 600;   
}   
#sry{
    display: grid;
    grid-template-columns: 2fr 8fr;	  
}
#sry img{
    padding-left: 15px;
    height: 70px;
    width: 70px;
}
#inde{
    display: grid;
    grid-template-columns: 1fr 8fr;	  
}
#inde img{            
    width: 200px;
}
hr{
    width: 85%;
    border: 0;
    background: #ccc;
    height: 2px;    
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}
